/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
}

/* ### Users List ### */
.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5%;
}

.user-card {
  display: flex;
  gap: 30px;
  text-align: center;
  justify-content: center;
}

.user-card .image-container {
  width: 10rem;
  height: 10rem;
}

.user-card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-info {
  width: 55rem;
  box-shadow: 0.5rem 0.5rem 1rem rgb(0 0 0 / 5%);
}

.user-info h3 {
  margin-top: 3.5rem;
  padding: 10px;
}

.user-info p {
  text-align: end;
  margin-right: 1rem;
}

.users-list_img img {
  width: 100%;
  height: 100%;
}

.users-list_desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20%;
  align-items: center;
  border: 3px solid black;
  padding: 3%;
}

.users-list_name {
  font-size: 2.5rem;
}

.users-list_posts {
  font-size: 1.5rem;
  align-self: flex-end;
}

.bio {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0.5rem 0.5rem 1rem rgb(0 0 0 / 5%);
  padding: 1rem 0;
  justify-content: center;
}

.bio h3 {
  margin-bottom: 1rem;
}

.bio p {
  line-height: 1.5;
  padding: 0 10px;
}



/* ### User ### */
.user {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.posts{
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 1% 2%;
  border: 3px solid black;
}

.user-container_heading {
  font-size: 1.5rem;
}

.user-container_text {
  font-size: 1.5rem;
}

.user-posts_stats {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}

.user-posts_stats p {
  width: 90px;
}

.btn {
  width: 140px;
  height: 35px;
  font-size: 1.2rem;
  align-self: center;
  box-shadow: 5px 5px;
  outline: 1px solid black;
  background-color: #fff;
  font-weight: 700;
  cursor: pointer;

}

/* ### Posts_list ### */
.card {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.card li {
  box-shadow: 0.5rem 0.5rem 1rem rgb(0 0 0 / 5%);
  margin-bottom: 1rem;
  width: 50rem;
  margin-left: 3rem;
}


.post-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.comment {
  display: flex;
  font-size: 1.4rem;
}

.comment p {
  font-weight: 700;
}

.comment p span {
  font-weight: 400;
}

/* ### Post ### */
.post-list {
  display:flex;
  margin: 0 9%;
  align-items: center;
  justify-content: center;

}

.post-list li {
  box-shadow: 0.5rem 0.5rem 1rem rgb(0 0 0 / 5%);
  margin-bottom: 1rem;
  width: 50rem;
  margin-left: 3rem;
}

.post-list li h3 {
  padding: 15px;
  font-size: 1.5rem;
  text-transform: capitalize;
}
